body {
   background-color: white;
}

ul { 
   list-style-type:none;
   margin: 0;
   padding: 0;
}

.lnav{
}

.lnav .ul {
   list-style-type:none;
   border-bottom: 1px solid #fff;   
   margin-right: 70px;
   display: inline;
}

.rnav{
}

.rnav ul {
}

